@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
=========================
general project resets
=========================
*/

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
============================
google font-customization 
============================
*/

@layer utilities {
  .montserrat {
    font-family: 'Montserrat', sans-serif;
  }
}

.gain-alert-color {
  @apply text-green-600;
}

.loss-alert-color {
  @apply text-red-600;
}
